/* assets/estilo.css */
body {
    background-color: #F5F5DC;
    color: #1D3557;
    font-family: 'Segoe UI', sans-serif;
}

/* Botones personalizados */
.stButton > button {
    background-color: #2A9D8F;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}

.stButton > button:hover {
    background-color: #21867A;
}

/* Éxito */
.stAlert {
    background-color: #2A9D8F;
    color: white;
    border-radius: 8px;
}

/* Encabezados */
h1, h2, h3 {
    color: #E76F51;
}

/* Markdown colores */
a {
    color: #F4A261;
}